*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit ;
}

html {
    // This defines what 1 rem is (this is 10px = 1rem eq in % to faciliate zooming and resizing)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}